!/log/.keep
*.rdb
.bundle
.env
config/database.yml
config/secrets.yml
config/secrets.*.yml
log/*
public/assets
public/uploads
tmp
.DS_Store
*.sublime-*
.rvmrc
stellar.yml
.rubocop.yml

# Ignore generated test coverage
/coverage

# Bundler files

vendor/bundler
